@media (min-width: 768px) {
  .mobile {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .desktop {
    display: none!important;
  }
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  max-width: 1920px;
}
.body {
  flex: 1 0 auto;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .nav-header {
  display: flex;
  background: #000000;
  padding: 0 15px;
}
header .nav-header #div-ul {
  display: flex;
}
header .nav-header #div-ul #btn-name {
  display: flex;
  align-self: center;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  font-family: sans-serif;
  text-decoration: none;
  font-family: 'OpenSansBold';
}
header .nav-header #div-ul .ul-header {
  display: flex;
  padding-left: 0px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
header .nav-header #div-ul .ul-header li {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  list-style: none;
}
header .nav-header #div-ul .ul-header li:first-child {
  margin-right: 1rem;
}
header .nav-header #div-ul .ul-header li a {
  text-decoration: none;
  color: #ffffff;
}
header .nav-header #div-ul .ul-header li a span {
  font-family: 'OpenSansSemi';
}
.body #section-home {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
#galeria .gallery-title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
#galeria #owl-carrousel-gallery {
  position: relative;
}
#galeria #owl-carrousel-gallery .owl-nav {
  text-align: center;
  font-size: 2rem;
  position: unset;
}
#galeria #owl-carrousel-gallery .owl-nav .owl-prev {
  left: 0px;
}
#galeria #owl-carrousel-gallery .owl-nav .owl-next {
  right: 0px;
}
@media (min-width: 1600px) {
  #galeria #owl-carrousel-gallery .owl-nav .owl-prev {
    left: -20px;
  }
  #galeria #owl-carrousel-gallery .owl-nav .owl-next {
    right: -20px;
  }
}
#galeria #owl-carrousel-gallery .owl-nav .owl-prev,
#galeria #owl-carrousel-gallery .owl-nav .owl-next {
  width: auto;
  height: auto;
  background: #ffffff;
  color: #000000;
  top: 50%;
  margin-top: -27px;
  position: absolute;
  border: solid #000000 1px;
  padding: 0 8px !important;
}
#galeria .owl-dots {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#galeria .owl-dots button {
  background: #869791;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 5px 7px;
}
#galeria .owl-dots button.owl-dot.active {
  background: #4dabf7 !important;
}
#gallery-title {
  margin: 100px auto 0px auto;
}
#gallery-container {
  margin: 45px auto 100px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}
#gallery-container .gallery-card {
  overflow: hidden;
}
#gallery-container .gallery-card a {
  width: 100%;
  height: 100%;
}
#gallery-container .gallery-card a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#gallery-container .gallery-card a > img:hover {
  transform: scale(1.5) rotate(30deg);
}
#section-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
#section-footer .redes-sociales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#section-footer .redes-sociales a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 100px;
  text-align: center;
  margin: 20px;
}
#section-footer .redes-sociales i {
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 60px;
}
#section-footer .redes-sociales .linkedin {
  text-align: center;
}
#section-footer .redes-sociales .linkedin a {
  background: #0077b5;
}
#section-footer .redes-sociales .instagram a {
  background: #c13584;
}
#section-footer .redes-sociales .correo a {
  background: #1279D5;
}
#section-footer .bottom-footer a {
  color: #000000;
}
.body #section-home #galeria {
  max-width: 1522.39px;
}
.body #section-gallery-lightbox {
  padding: 0 15px;
}
.body #section-gallery-lightbox #gallery-title,
.body #section-gallery-lightbox #gallery-container {
  max-width: 1522.39px;
}
.menu-background-view:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .8;
  z-index: 998;
}
