//Variables
@white: #fff;

// Menu
#nav-header{
	display: flex;
	#inicio{
		display: block;
		display: block;
	    font-size: 1.5rem;
	}
	.ul-header{
		display: flex;
		padding-left: 0px;
		margin-bottom: 1rem;
		margin-top: 1rem;
		width: 100%;
		li{
			font-size: 1.5rem;
			width: 100%;
			text-align: center;
			a{
				text-decoration: none;
				color:@white;
			}
		}
	}
}
#section-home{
	max-width: 1920px;
	margin-right: auto;
	margin-left:auto;
	box-sizing: border-box;
}