#nav-header {
  display: flex;
}
#nav-header #inicio {
  display: block;
  font-size: 1.5rem;
}
#nav-header .ul-header {
  display: flex;
  padding-left: 0px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}
#nav-header .ul-header li {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
#nav-header .ul-header li a {
  text-decoration: none;
  color: #fff;
}
#section-home {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
#galeria .gallery-title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
#galeria #owl-carrousel-gallery {
  position: relative;
}
#galeria #owl-carrousel-gallery .owl-nav {
  text-align: center;
  font-size: 2rem;
}
#galeria #owl-carrousel-gallery .owl-nav .owl-prev {
  left: -30px;
}
#galeria #owl-carrousel-gallery .owl-nav .owl-next {
  right: -68px;
}
#galeria #owl-carrousel-gallery .owl-nav .owl-prev,
#galeria #owl-carrousel-gallery .owl-nav .owl-next {
  width: auto;
  height: auto;
  background: #fff;
  color: #000;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: solid #000 1px;
  padding: 0 8px !important;
}
#galeria .owl-dots {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#galeria .owl-dots button {
  background: #869791;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 5px 7px;
}
#galeria .owl-dots button.owl-dot.active {
  background: #4dabf7 !important;
}
