//Variables
@white: #fff;


html{
    height:100%;
    overflow-x:hidden;
}
body{
	overflow-x: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.body{
	// Resumida
	flex: 1 0 auto;
	// todos los estilos
	// flex-grow: 1;
	// flex-shrink: 0;
	// flex-basis: auto;
}
// Menu
#nav-header{
	display: flex;
	background: #000;
	#inicio{
		display: block;
		display: block;
	    font-size: 1.5rem;
	}
	.ul-header{
		display: flex;
		padding-left: 0px;
		margin-bottom: 1rem;
		margin-top: 1rem;
		width: 100%;
		li{
			font-size: 1.5rem;
			width: 100%;
			text-align: center;
			a{
				text-decoration: none;
				color:@white;
			}
		}
	}
}

.body{
	//Posicionar siempre footer abajo
	// min-height: calc(100vh - 64px - 112px);
	#section-home{
		max-width: 1920px;
		margin-right: auto;
		margin-left:auto;
		box-sizing: border-box;
	}
	// Galeria
	#galeria{
		.gallery-title{
			margin-top: 20px;
		    margin-bottom: 20px;
		    display: block;
		}
		#owl-carrousel-gallery{
			position: relative;
			.owl-nav{
				text-align: center;
				font-size: 2rem;
				.owl-prev{
					left: -30px;
				}
				.owl-next{
					right: -68px;
				}
				.owl-prev,.owl-next{
					width: auto;
					height: auto;
					background: #fff;
					color:#000;
					top: 50%;
	    			transform: translate(-50%, -50%);
	    			position: absolute;
	    			border:solid #000 1px;
	    			padding: 0 8px !important;
				}
			}
		}
		.owl-dots{
			text-align: center;
			margin-top: 40px;
			position: absolute;
	    	left: 50%;
	    	transform: translate(-50%, -50%);
			button{
				background: #869791;
			    height: 15px;
			    width: 15px;
			    border-radius: 100%;
			    margin:5px 7px;
			}
			button.owl-dot.active{
				background: #4dabf7 !important;
			}
		}
	}
}


// Footer
#section-footer{
	background: #212121;
	padding-top: 30px;
	padding-bottom: 30px;
	.div-contacto{
		display: flex;
		flex-direction: column;
		div:first-child{
			text-align: center;
			.titulo-contacto{
				font-size:2rem;
				color:#fff;
			}
		}
	}
	.div-email{
		text-align: center;
		font-size: 1.2rem;
		font-weight: 500;
		height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    span{
			a{
				color:#fff;
			}
	    }
	}
	.redes-sociales{
		// display: flex;
		// flex-wrap: wrap;
	}
	.redes-sociales{
		.linkedin{
			color: #fff;
			text-align: center;
			i{
				font-size: 4rem;
				color: #0077b5;
			}
		}
		
	}
}